# DATA  WAREHOUSE FOR SALES ANALYSIS

Program ini dibuat untuk menyusun Data Warehouse untuk kebutuhan analisis perusahaan terkait dengan penjualan.

In [1]:
from pyspark.sql import SparkSession

# Initialize Spark Session
spark = SparkSession.builder\
    .appName("WriteToPostgres")\
    .config("spark.jars.packages", "org.postgresql:postgresql:42.6.0")\
    .getOrCreate()

# Create Dataframe from Each Table

## Fact Transaction (fact_transaction)

In [2]:
fact_transaction = spark.read.csv('fact_transaction.csv', header=True, inferSchema=True)
fact_transaction.show()

+--------------+--------+-------+----------+--------+------------------+------------------+--------------------+------------------+----------------+----------+------------+-----------+-----------+
|transaction_id|order_id|user_id|product_id| date_id|        sale_price|              cost|              profit|transaction_status|is_order_created|is_shipped|is_delivered|is_returned|num_of_item|
+--------------+--------+-------+----------+--------+------------------+------------------+--------------------+------------------+----------------+----------+------------+-----------+-----------+
|        177152|  122160|  98069|     14235|20250412|0.0199999995529651|0.0082999997779726|0.011699999774992502|         Cancelled|            true|     false|       false|      false|          1|
|         28849|   19870|  15771|     14235|20240529|0.0199999995529651|0.0082999997779726|0.011699999774992502|          Complete|            true|      true|        true|      false|          4|
|         27428|   18901|  15036|     14235|20240514|0.0199999995529651|0.0082999997779726|0.011699999774992502|        Processing|            true|     false|       false|      false|          1|
|         79317|   54742|  43944|     14235|20250203|0.0199999995529651|0.0082999997779726|0.011699999774992502|           Shipped|            true|      true|       false|      false|          2|
|        158000|  108931|  87429|     14235|20250118|0.0199999995529651|0.0082999997779726|0.011699999774992502|           Shipped|            true|      true|       false|      false|          3|
|        158430|  109231|  87673|     14235|20210107|0.0199999995529651|0.0082999997779726|0.011699999774992502|           Shipped|            true|      true|       false|      false|          1|
|         83110|   57343|  46035|     14159|20221105|0.4900000095367431|0.1773800033208727|  0.3126200062158704|          Complete|            true|      true|        true|      false|          1|
|         91239|   62922|  50507|     14159|20241018|0.4900000095367431|0.1773800033208727|  0.3126200062158704|        Processing|            true|     false|       false|      false|          4|
|        151897|  104774|  84027|     14159|20250502|0.4900000095367431|0.1773800033208727|  0.3126200062158704|        Processing|            true|     false|       false|      false|          1|
|        171504|  118258|  94905|     28700|20250401|               1.5|0.6059999980498105|  0.8940000019501895|         Cancelled|            true|     false|       false|      false|          1|
|         24984|   17231|  13685|     28700|20250207|               1.5|0.6059999980498105|  0.8940000019501895|          Complete|            true|      true|        true|      false|          4|
|        124810|   86140|  69028|     28700|20240815|               1.5|0.6059999980498105|  0.8940000019501895|          Complete|            true|      true|        true|      false|          4|
|         16462|   11350|   8996|     28700|20240312|               1.5|0.6059999980498105|  0.8940000019501895|          Returned|            true|      true|        true|       true|          4|
|         18885|   13004|  10325|     14202|20250328|               1.5| 0.617999997921288|   0.882000002078712|          Returned|            true|      true|        true|       true|          3|
|         31270|   21529|  17087|     14202|20230520|               1.5| 0.617999997921288|   0.882000002078712|          Returned|            true|      true|        true|       true|          4|
|        153960|  106181|  85162|     14202|20230714|               1.5| 0.617999997921288|   0.882000002078712|          Returned|            true|      true|        true|       true|          1|
|          6091|    4226|   3344|     14202|20240619|               1.5| 0.617999997921288|   0.882000002078712|           Shipped|            true|      true|       false|      false|          1|
|          6236|    4329|   3422|     14202|20240117|               1.5| 0.617999997921288|   0.882000002078712|           Shipped|            true|      true|       false|      false|          4|
|         20327|   14009|  11093|     14202|20230411|               1.5| 0.617999997921288|   0.882000002078712|           Shipped|            true|      true|       false|      false|          1|
|         22357|   15439|  12242|     14202|20240819|               1.5| 0.617999997921288|   0.882000002078712|           Shipped|            true|      true|       false|      false|          1|
+--------------+--------+-------+----------+--------+------------------+------------------+--------------------+------------------+----------------+----------+------------+-----------+-----------+
only showing top 20 rows

## Dimension Product (dim_product)

In [3]:
dim_product = spark.read.csv('dim_product.csv', header=True, inferSchema=True)
dim_product.show()

+-----------+--------------------+-----+-----------+----------+------------------+------------------+
|product_key|                name|brand|   category|department|      retail_price|              cost|
+-----------+--------------------+-----+-----------+----------+------------------+------------------+
|      13842|Low Profile Dyed ...|   MG|Accessories|     Women|              6.25| 2.518749990849756|
|      13928|Low Profile Dyed ...|   MG|Accessories|     Women| 5.949999809265137|2.3383499148894105|
|      14115|Enzyme Regular So...|   MG|Accessories|     Women|10.989999771118164| 4.879559879379869|
|      14157|Enzyme Regular So...|   MG|Accessories|     Women|10.989999771118164| 4.648769887297898|
|      14273|Washed Canvas Ivy...|   MG|Accessories|     Women|15.989999771118164| 6.507929886473045|
|      15674|Low Profile Dyed ...|   MG|       Plus|     Women|              6.25|3.1062499998370185|
|      15816|Low Profile Dyed ...|   MG|       Plus|     Women| 5.949999809265137|3.1772999091416594|
|      28646|4 Panel Large Bil...|   MG|Accessories|       Men|19.989999771118164|  8.73562987972319|
|      28670|Low Profile Dyed ...|   MG|Accessories|       Men| 6.179999828338623|2.6759399153566363|
|      28714|Low Profile Dyed ...|   MG|Accessories|       Men|              6.25| 2.275000000372529|
|      28779|Fishing Hat (01)-...|   MG|Accessories|       Men|20.989999771118164|  7.36748991528362|
|      28904|Fashion Plaid Ivy...|   MG|Accessories|       Men|15.989999771118164|6.7957498848550015|
|      29007|Washed Hunting Fi...|   MG|Accessories|       Men|26.989999771118164|10.795999868229032|
|      12777|Womens MW Tankini...|   MW|       Swim|     Women|  44.9900016784668|16.691290760814255|
|      12810|Mw Long Ruffle Ta...|   MW|       Swim|     Women|  44.9900016784668|21.055320884742144|
|      12812|Womens long tanki...|   MW|       Swim|     Women|  44.9900016784668| 21.14530090284795|
|      12853|Womens MW Tankini...|   MW|       Swim|     Women|  44.9900016784668| 18.71584077014294|
|      12900|Womens One Piece/...|   MW|       Swim|     Women|  39.9900016784668| 17.39565078823306|
|      13247|Womens swimsuit M...|   MW|       Swim|     Women|  44.9900016784668| 20.65041088706643|
|      13477|MW Women's Swimsu...|   MW|       Swim|     Women|  54.9900016784668|22.600890809484422|
+-----------+--------------------+-----+-----------+----------+------------------+------------------+
only showing top 20 rows

## Dimension User (dim_user)

In [4]:
dim_user = spark.read.csv('dim_user.csv', header=True, inferSchema=True)
dim_user.show()

+--------+----------------+---+------+-----+--------+-------+--------------+
|user_key|   customer_name|age|gender|state|    city|country|traffic_source|
+--------+----------------+---+------+-----+--------+-------+--------------+
|   25075|Clifford Johnson| 36|     M| Acre|    null| Brasil|        Search|
|   97806|    Angela Lopez| 50|     F| Acre|    null| Brasil|        Search|
|   41816|    Susan Kelley| 55|     F| Acre|    null| Brasil|        Search|
|   82351|Jacqueline Zhang| 62|     F| Acre|    null| Brasil|        Search|
|   70916|    Marie Parker| 66|     F| Acre|    null| Brasil|        Search|
|   37563|      Daisy Rios| 18|     F| Acre|    null| Brasil|       Organic|
|   85698|   Robert Wright| 45|     M| Acre|    null| Brasil|        Search|
|   90954| Jennifer Rivera| 23|     F| Acre|    null| Brasil|        Search|
|   29803| Allison Wheeler| 51|     F| Acre|    null| Brasil|       Organic|
|   42991|      Sean Combs| 26|     M| Acre|    null| Brasil|        Search|
|   80689|    Drew Montoya| 49|     M| Acre|    null| Brasil|         Email|
|   22005| Michelle Bowers| 13|     F| Acre|    null| Brasil|       Organic|
|   73795|     Tracey Bell| 29|     F| Acre|    null| Brasil|        Search|
|   58684|    Sarah Taylor| 49|     F| Acre|    null| Brasil|       Organic|
|   34334| Meredith Deleon| 68|     F| Acre|    null| Brasil|       Display|
|   79597|   Anthony Mason| 55|     M| Acre|    null| Brasil|       Organic|
|   51244|    Dawn Walters| 30|     F| Acre|    null| Brasil|        Search|
|   20955|      Jamie Tran| 14|     F| Acre|Tarauacá| Brasil|      Facebook|
|   69198|     Jordan Chan| 59|     F| Acre|Tarauacá| Brasil|        Search|
|   71745|    Brandy Scott| 39|     F| Acre|Tarauacá| Brasil|        Search|
+--------+----------------+---+------+-----+--------+-------+--------------+
only showing top 20 rows

## Dimension Date (dim_date)

In [5]:
dim_date = spark.read.csv('dim_date.csv', header=True, inferSchema=True)
dim_date.show()

+--------+----------+----+-------+-----+----+---+----------+---------+----------+
|date_key| full_date|year|quarter|month|week|day|month_name| day_name|is_weekend|
+--------+----------+----+-------+-----+----+---+----------+---------+----------+
|20190110|2019-01-10|2019|      1|    1|   1| 10|   January| Thursday|     false|
|20190111|2019-01-11|2019|      1|    1|   1| 11|   January|   Friday|     false|
|20190117|2019-01-17|2019|      1|    1|   2| 17|   January| Thursday|     false|
|20190118|2019-01-18|2019|      1|    1|   2| 18|   January|   Friday|     false|
|20190122|2019-01-22|2019|      1|    1|   3| 22|   January|  Tuesday|     false|
|20190123|2019-01-23|2019|      1|    1|   3| 23|   January|Wednesday|     false|
|20190124|2019-01-24|2019|      1|    1|   3| 24|   January| Thursday|     false|
|20190127|2019-01-27|2019|      1|    1|   4| 27|   January|   Sunday|      true|
|20190128|2019-01-28|2019|      1|    1|   4| 28|   January|   Monday|     false|
|20190129|2019-01-29|2019|      1|    1|   4| 29|   January|  Tuesday|     false|
|20190204|2019-02-04|2019|      1|    2|   5|  4|  February|   Monday|     false|
|20190205|2019-02-05|2019|      1|    2|   5|  5|  February|  Tuesday|     false|
|20190206|2019-02-06|2019|      1|    2|   5|  6|  February|Wednesday|     false|
|20190207|2019-02-07|2019|      1|    2|   5|  7|  February| Thursday|     false|
|20190208|2019-02-08|2019|      1|    2|   5|  8|  February|   Friday|     false|
|20190209|2019-02-09|2019|      1|    2|   5|  9|  February| Saturday|      true|
|20190212|2019-02-12|2019|      1|    2|   6| 12|  February|  Tuesday|     false|
|20190213|2019-02-13|2019|      1|    2|   6| 13|  February|Wednesday|     false|
|20190214|2019-02-14|2019|      1|    2|   6| 14|  February| Thursday|     false|
|20190215|2019-02-15|2019|      1|    2|   6| 15|  February|   Friday|     false|
+--------+----------+----+-------+-----+----+---+----------+---------+----------+
only showing top 20 rows

# Simple Data Exploration

In [6]:
fact_transaction.printSchema()

root
 |-- transaction_id: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- date_id: integer (nullable = true)
 |-- sale_price: double (nullable = true)
 |-- cost: double (nullable = true)
 |-- profit: double (nullable = true)
 |-- transaction_status: string (nullable = true)
 |-- is_order_created: boolean (nullable = true)
 |-- is_shipped: boolean (nullable = true)
 |-- is_delivered: boolean (nullable = true)
 |-- is_returned: boolean (nullable = true)
 |-- num_of_item: integer (nullable = true)

In [7]:
fact_transaction.describe().show()

+-------+-----------------+------------------+-----------------+------------------+-------------------+------------------+------------------+--------------------+------------------+------------------+
|summary|   transaction_id|          order_id|          user_id|        product_id|            date_id|        sale_price|              cost|              profit|transaction_status|       num_of_item|
+-------+-----------------+------------------+-----------------+------------------+-------------------+------------------+------------------+--------------------+------------------+------------------+
|  count|           180753|            180753|           180753|            180753|             180753|            180753|            180753|              180753|            180753|            180753|
|   mean|          90377.0| 62346.73523537645|49965.45678356652|15247.829800888505|2.023395831183438E7| 59.56965505978409|28.638876275239355|  30.930778784544685|              NULL| 1.900488511947243|
| stddev|52179.04094078388|35976.024408652826|28910.38709272607|   8413.3783077959| 14554.410505756563| 66.55959895256596|30.961243131047794|  36.590008319262274|              NULL|1.0669557269345564|
|    min|                1|                 1|                1|                 1|           20190110|0.0199999995529651|0.0082999997779726|0.011699999774992502|         Cancelled|                 1|
|    max|           180753|            124619|           100000|             29120|           20250510|             999.0| 557.1510021798313|   594.4049988090992|           Shipped|                 4|
+-------+-----------------+------------------+-----------------+------------------+-------------------+------------------+------------------+--------------------+------------------+------------------+

In [8]:
dim_product.printSchema()

root
 |-- product_key: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- category: string (nullable = true)
 |-- department: string (nullable = true)
 |-- retail_price: double (nullable = true)
 |-- cost: double (nullable = true)

In [9]:
dim_product.describe().show()

+-------+-----------------+--------------------+---------+-----------+----------+------------------+------------------+
|summary|      product_key|                name|    brand|   category|department|      retail_price|              cost|
+-------+-----------------+--------------------+---------+-----------+----------+------------------+------------------+
|  count|            29120|               29118|    29096|      29120|     29120|             29120|             29120|
|   mean|          14560.5|                NULL| Infinity|       NULL|      NULL|59.220163865731955| 28.48177424043702|
| stddev|8406.364255729119|                NULL|      NaN|       NULL|      NULL| 65.88892669575863|30.624681214377663|
|    min|                1|!iT Jeans Junior'...|!it Jeans|Accessories|       Men|0.0199999995529651|0.0082999997779726|
|    max|            29120|Â Â Exclusive Haw...|wear ease|  Underwear|     Women|             999.0| 557.1510021798313|
+-------+-----------------+--------------------+---------+-----------+----------+------------------+------------------+

In [10]:
dim_user.printSchema()

root
 |-- user_key: integer (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- state: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- traffic_source: string (nullable = true)

In [11]:
dim_user.describe().show()

+-------+-----------------+-------------+-----------------+------+-------------+-----------+-------------+--------------+
|summary|         user_key|customer_name|              age|gender|        state|       city|      country|traffic_source|
+-------+-----------------+-------------+-----------------+------+-------------+-----------+-------------+--------------+
|  count|           100000|       100000|           100000|100000|       100000|     100000|       100000|        100000|
|   mean|          50000.5|         NULL|         41.01956|  NULL|         NULL|       NULL|         NULL|          NULL|
| stddev|28867.65779668779|         NULL|17.07791480123204|  NULL|         NULL|       NULL|         NULL|          NULL|
|    min|                1|  Aaron Adams|               12|     F|         Acre|A Ramallosa|    Australia|       Display|
|    max|           100000| Zoe Williams|               70|     M|Île-de-France|      海 名|United States|        Search|
+-------+-----------------+-------------+-----------------+------+-------------+-----------+-------------+--------------+

In [12]:
dim_date.printSchema()

root
 |-- date_key: integer (nullable = true)
 |-- full_date: date (nullable = true)
 |-- year: integer (nullable = true)
 |-- quarter: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- month_name: string (nullable = true)
 |-- day_name: string (nullable = true)
 |-- is_weekend: boolean (nullable = true)

In [13]:
dim_date.describe().show()

+-------+--------------------+------------------+------------------+------------------+------------------+------------------+----------+---------+
|summary|            date_key|              year|           quarter|             month|              week|               day|month_name| day_name|
+-------+--------------------+------------------+------------------+------------------+------------------+------------------+----------+---------+
|  count|                2286|              2286|              2286|              2286|              2286|              2286|      2286|     2286|
|   mean|2.0218042123797026E7| 2021.738845144357| 2.462379702537183| 6.379702537182852|25.537620297462816|15.702099737532809|      NULL|     NULL|
| stddev|   18229.85144329581|1.8277092298728972|1.1207735400039358|3.4550200180380863| 15.09877420002332| 8.796561142317465|      NULL|     NULL|
|    min|            20190110|              2019|                 1|                 1|                 0|                 1|     April|   Friday|
|    max|            20250510|              2025|                 4|                12|                53|                31| September|Wednesday|
+-------+--------------------+------------------+------------------+------------------+------------------+------------------+----------+---------+

# Data Cleaning and Transformation

## Data Type Format Review
Based on the analysis, the data types of all attributes in each DataFrame are already appropriate and correctly assigned. Therefore, no data type conversion or modification is necessary. The current format is suitable for further data processing and analysis.

## Handling Missing Value

In [14]:
# Function Checking Missing Values

from pyspark.sql.functions import col, isnan, when, count
from pyspark.sql.types import DoubleType, FloatType

def check_missing_values(df, df_name):
    print(f"Missing values in '{df_name}':")

    exprs = []
    for c in df.columns:
        dtype = dict(df.dtypes)[c]
        if dtype in ['double', 'float']:
            exprs.append(count(when(col(c).isNull() | isnan(col(c)), c)).alias(c))
        else:
            exprs.append(count(when(col(c).isNull(), c)).alias(c))
    
    df.select(exprs).show()

In [15]:
check_missing_values(fact_transaction, "fact_transaction")
check_missing_values(dim_product, "dim_product")
check_missing_values(dim_user, "dim_user")
check_missing_values(dim_date, "dim_date")

Missing values in 'fact_transaction':
+--------------+--------+-------+----------+-------+----------+----+------+------------------+----------------+----------+------------+-----------+-----------+
|transaction_id|order_id|user_id|product_id|date_id|sale_price|cost|profit|transaction_status|is_order_created|is_shipped|is_delivered|is_returned|num_of_item|
+--------------+--------+-------+----------+-------+----------+----+------+------------------+----------------+----------+------------+-----------+-----------+
|             0|       0|      0|         0|      0|         0|   0|     0|                 0|               0|         0|           0|          0|          0|
+--------------+--------+-------+----------+-------+----------+----+------+------------------+----------------+----------+------------+-----------+-----------+

Missing values in 'dim_product':
+-----------+----+-----+--------+----------+------------+----+
|product_key|name|brand|category|department|retail_price|cost|
+-----------+----+-----+--------+----------+------------+----+
|          0|   2|   24|       0|         0|           0|   0|
+-----------+----+-----+--------+----------+------------+----+

Missing values in 'dim_user':
+--------+-------------+---+------+-----+----+-------+--------------+
|user_key|customer_name|age|gender|state|city|country|traffic_source|
+--------+-------------+---+------+-----+----+-------+--------------+
|       0|            0|  0|     0|    0|   0|      0|             0|
+--------+-------------+---+------+-----+----+-------+--------------+

Missing values in 'dim_date':
+--------+---------+----+-------+-----+----+---+----------+--------+----------+
|date_key|full_date|year|quarter|month|week|day|month_name|day_name|is_weekend|
+--------+---------+----+-------+-----+----+---+----------+--------+----------+
|       0|        0|   0|      0|    0|   0|  0|         0|       0|         0|
+--------+---------+----+-------+-----+----+---+----------+--------+----------+

Explanation
1. **fact_transaction**: In the fact_transaction, there are no missing values. The data can be directly used for further analysis or transformation without risk of data quality issues related to incompleteness.

2. **dim_product**: In the dim_product, there are missing values that require proper handling such as imputation or drop columns. To determine the percentage of missing data in the products DataFrame and decide the appropriate handling method (such as imputation or drop column), we can calculate the percentage of missing values for each column. This will help us understand the severity of missing data and guide us in deciding whether to impute values, drop columns, or perform other data preprocessing steps.

3. **dim_user**:In the dim_user, there are no missing values. The data can be directly used for further analysis or transformation without risk of data quality issues related to incompleteness.

4. **dim_date**: In the dim_date, there are no missing values. The data can be directly used for further analysis or transformation without risk of data quality issues related to incompleteness.

In [16]:
# Show missing values as percentage
total_rows = dim_product.count()
missing_percentage = dim_product.select([
    (count(when(col(c).isNull(), c)) / total_rows * 100).alias(c)
    for c in dim_product.columns])
missing_percentage.show()

+-----------+--------------------+-------------------+--------+----------+------------+----+
|product_key|                name|              brand|category|department|retail_price|cost|
+-----------+--------------------+-------------------+--------+----------+------------+----+
|        0.0|0.006868131868131868|0.08241758241758242|     0.0|       0.0|         0.0| 0.0|
+-----------+--------------------+-------------------+--------+----------+------------+----+

Based on the calculation of the percentage of missing values in each column of the products table, it is found that several columns contain missing values. However, all columns have a missing value percentage of less than 30%. This indicates that the amount of missing data is still within an acceptable range and not too significant. Therefore, imputation (filling in the missing values) can be performed instead of dropping the columns.

In [17]:
# Impute missing values in 'brand'
dim_product_imputed = dim_product.withColumn(
    'brand', when(col('brand').isNull(), 'non-brand').otherwise(col('brand'))
)

# Impute missing values in 'product_name'
dim_product_imputed = dim_product_imputed.withColumn(
    'name', when(col('name').isNull(), 'unknown').otherwise(col('name'))
)

dim_product_imputed.show()

+-----------+--------------------+-----+-----------+----------+------------------+------------------+
|product_key|                name|brand|   category|department|      retail_price|              cost|
+-----------+--------------------+-----+-----------+----------+------------------+------------------+
|      13842|Low Profile Dyed ...|   MG|Accessories|     Women|              6.25| 2.518749990849756|
|      13928|Low Profile Dyed ...|   MG|Accessories|     Women| 5.949999809265137|2.3383499148894105|
|      14115|Enzyme Regular So...|   MG|Accessories|     Women|10.989999771118164| 4.879559879379869|
|      14157|Enzyme Regular So...|   MG|Accessories|     Women|10.989999771118164| 4.648769887297898|
|      14273|Washed Canvas Ivy...|   MG|Accessories|     Women|15.989999771118164| 6.507929886473045|
|      15674|Low Profile Dyed ...|   MG|       Plus|     Women|              6.25|3.1062499998370185|
|      15816|Low Profile Dyed ...|   MG|       Plus|     Women| 5.949999809265137|3.1772999091416594|
|      28646|4 Panel Large Bil...|   MG|Accessories|       Men|19.989999771118164|  8.73562987972319|
|      28670|Low Profile Dyed ...|   MG|Accessories|       Men| 6.179999828338623|2.6759399153566363|
|      28714|Low Profile Dyed ...|   MG|Accessories|       Men|              6.25| 2.275000000372529|
|      28779|Fishing Hat (01)-...|   MG|Accessories|       Men|20.989999771118164|  7.36748991528362|
|      28904|Fashion Plaid Ivy...|   MG|Accessories|       Men|15.989999771118164|6.7957498848550015|
|      29007|Washed Hunting Fi...|   MG|Accessories|       Men|26.989999771118164|10.795999868229032|
|      12777|Womens MW Tankini...|   MW|       Swim|     Women|  44.9900016784668|16.691290760814255|
|      12810|Mw Long Ruffle Ta...|   MW|       Swim|     Women|  44.9900016784668|21.055320884742144|
|      12812|Womens long tanki...|   MW|       Swim|     Women|  44.9900016784668| 21.14530090284795|
|      12853|Womens MW Tankini...|   MW|       Swim|     Women|  44.9900016784668| 18.71584077014294|
|      12900|Womens One Piece/...|   MW|       Swim|     Women|  39.9900016784668| 17.39565078823306|
|      13247|Womens swimsuit M...|   MW|       Swim|     Women|  44.9900016784668| 20.65041088706643|
|      13477|MW Women's Swimsu...|   MW|       Swim|     Women|  54.9900016784668|22.600890809484422|
+-----------+--------------------+-----+-----------+----------+------------------+------------------+
only showing top 20 rows

In [18]:
# Show missing values as percentage after imputation
total_rows = dim_product_imputed.count()
missing_percentage = dim_product_imputed.select([
    (count(when(col(c).isNull(), c)) / total_rows * 100).alias(c)
    for c in dim_product_imputed.columns])
missing_percentage.show()

+-----------+----+-----+--------+----------+------------+----+
|product_key|name|brand|category|department|retail_price|cost|
+-----------+----+-----+--------+----------+------------+----+
|        0.0| 0.0|  0.0|     0.0|       0.0|         0.0| 0.0|
+-----------+----+-----+--------+----------+------------+----+

After performing imputation, the missing values in the brand and product_name columns have been successfully handled. Specifically, all null values in the brand column were replaced with "non-brand", while missing entries in the product_name column were filled with "unknown". As a result, there are no more missing values in the dataset, and the products table is now complete and ready for further analysis without the risk of data quality issues due to null values.

## Handling Duplicates Row

In [19]:
fact_transaction.show(5)

+--------------+--------+-------+----------+--------+------------------+------------------+--------------------+------------------+----------------+----------+------------+-----------+-----------+
|transaction_id|order_id|user_id|product_id| date_id|        sale_price|              cost|              profit|transaction_status|is_order_created|is_shipped|is_delivered|is_returned|num_of_item|
+--------------+--------+-------+----------+--------+------------------+------------------+--------------------+------------------+----------------+----------+------------+-----------+-----------+
|        177152|  122160|  98069|     14235|20250412|0.0199999995529651|0.0082999997779726|0.011699999774992502|         Cancelled|            true|     false|       false|      false|          1|
|         28849|   19870|  15771|     14235|20240529|0.0199999995529651|0.0082999997779726|0.011699999774992502|          Complete|            true|      true|        true|      false|          4|
|         27428|   18901|  15036|     14235|20240514|0.0199999995529651|0.0082999997779726|0.011699999774992502|        Processing|            true|     false|       false|      false|          1|
|         79317|   54742|  43944|     14235|20250203|0.0199999995529651|0.0082999997779726|0.011699999774992502|           Shipped|            true|      true|       false|      false|          2|
|        158000|  108931|  87429|     14235|20250118|0.0199999995529651|0.0082999997779726|0.011699999774992502|           Shipped|            true|      true|       false|      false|          3|
+--------------+--------+-------+----------+--------+------------------+------------------+--------------------+------------------+----------------+----------+------------+-----------+-----------+
only showing top 5 rows

In [20]:
# Checking is there any duplicates row for fact_transaction
fact_transaction_duplicate_rows = fact_transaction.groupBy(fact_transaction.columns).count().filter("count > 1")
fact_transaction_duplicate_count = fact_transaction_duplicate_rows.count()

if fact_transaction_duplicate_count > 0:
    print(f"Found {fact_transaction_duplicate_count} duplicate rows. Dropping duplicates...")
    fact_transaction_clean = fact_transaction.dropDuplicates()
else:
    print("No duplicate rows found.")
    fact_transaction_clean = fact_transaction

# The result
print("After Checking and Dropping Duplicate Rows:")
fact_transaction_clean.show(5)

No duplicate rows found.
After Checking and Dropping Duplicate Rows:
+--------------+--------+-------+----------+--------+------------------+------------------+--------------------+------------------+----------------+----------+------------+-----------+-----------+
|transaction_id|order_id|user_id|product_id| date_id|        sale_price|              cost|              profit|transaction_status|is_order_created|is_shipped|is_delivered|is_returned|num_of_item|
+--------------+--------+-------+----------+--------+------------------+------------------+--------------------+------------------+----------------+----------+------------+-----------+-----------+
|        177152|  122160|  98069|     14235|20250412|0.0199999995529651|0.0082999997779726|0.011699999774992502|         Cancelled|            true|     false|       false|      false|          1|
|         28849|   19870|  15771|     14235|20240529|0.0199999995529651|0.0082999997779726|0.011699999774992502|          Complete|            true|      true|        true|      false|          4|
|         27428|   18901|  15036|     14235|20240514|0.0199999995529651|0.0082999997779726|0.011699999774992502|        Processing|            true|     false|       false|      false|          1|
|         79317|   54742|  43944|     14235|20250203|0.0199999995529651|0.0082999997779726|0.011699999774992502|           Shipped|            true|      true|       false|      false|          2|
|        158000|  108931|  87429|     14235|20250118|0.0199999995529651|0.0082999997779726|0.011699999774992502|           Shipped|            true|      true|       false|      false|          3|
+--------------+--------+-------+----------+--------+------------------+------------------+--------------------+------------------+----------------+----------+------------+-----------+-----------+
only showing top 5 rows

In [21]:
dim_product_imputed.show(5)

+-----------+--------------------+-----+-----------+----------+------------------+------------------+
|product_key|                name|brand|   category|department|      retail_price|              cost|
+-----------+--------------------+-----+-----------+----------+------------------+------------------+
|      13842|Low Profile Dyed ...|   MG|Accessories|     Women|              6.25| 2.518749990849756|
|      13928|Low Profile Dyed ...|   MG|Accessories|     Women| 5.949999809265137|2.3383499148894105|
|      14115|Enzyme Regular So...|   MG|Accessories|     Women|10.989999771118164| 4.879559879379869|
|      14157|Enzyme Regular So...|   MG|Accessories|     Women|10.989999771118164| 4.648769887297898|
|      14273|Washed Canvas Ivy...|   MG|Accessories|     Women|15.989999771118164| 6.507929886473045|
+-----------+--------------------+-----+-----------+----------+------------------+------------------+
only showing top 5 rows

In [22]:
# Checking is there any duplicates row for dim_product
dim_product_duplicate_rows = dim_product_imputed.groupBy(dim_product_imputed.columns).count().filter("count > 1")
dim_product_duplicate_count = dim_product_duplicate_rows.count()

if dim_product_duplicate_count > 0:
    print(f"Found {dim_product_duplicate_count} duplicate rows. Dropping duplicates...")
    dim_product_clean = dim_product_imputed.dropDuplicates()
else:
    print("No duplicate rows found.")
    dim_product_clean = dim_product_imputed

# The result
print("After Checking and Dropping Duplicate Rows:")
dim_product_clean.show(5)

No duplicate rows found.
After Checking and Dropping Duplicate Rows:
+-----------+--------------------+-----+-----------+----------+------------------+------------------+
|product_key|                name|brand|   category|department|      retail_price|              cost|
+-----------+--------------------+-----+-----------+----------+------------------+------------------+
|      13842|Low Profile Dyed ...|   MG|Accessories|     Women|              6.25| 2.518749990849756|
|      13928|Low Profile Dyed ...|   MG|Accessories|     Women| 5.949999809265137|2.3383499148894105|
|      14115|Enzyme Regular So...|   MG|Accessories|     Women|10.989999771118164| 4.879559879379869|
|      14157|Enzyme Regular So...|   MG|Accessories|     Women|10.989999771118164| 4.648769887297898|
|      14273|Washed Canvas Ivy...|   MG|Accessories|     Women|15.989999771118164| 6.507929886473045|
+-----------+--------------------+-----+-----------+----------+------------------+------------------+
only showing top 5 rows

In [23]:
dim_user.show(5)

+--------+----------------+---+------+-----+----+-------+--------------+
|user_key|   customer_name|age|gender|state|city|country|traffic_source|
+--------+----------------+---+------+-----+----+-------+--------------+
|   25075|Clifford Johnson| 36|     M| Acre|null| Brasil|        Search|
|   97806|    Angela Lopez| 50|     F| Acre|null| Brasil|        Search|
|   41816|    Susan Kelley| 55|     F| Acre|null| Brasil|        Search|
|   82351|Jacqueline Zhang| 62|     F| Acre|null| Brasil|        Search|
|   70916|    Marie Parker| 66|     F| Acre|null| Brasil|        Search|
+--------+----------------+---+------+-----+----+-------+--------------+
only showing top 5 rows

In [24]:
# Checking is there any duplicates row for products
dim_user_duplicate_rows = dim_user.groupBy(dim_user.columns).count().filter("count > 1")
dim_user_duplicate_count = dim_user_duplicate_rows.count()

if dim_user_duplicate_count > 0:
    print(f"Found {dim_user_duplicate_count} duplicate rows. Dropping duplicates...")
    dim_user_clean = dim_user.dropDuplicates()
else:
    print("No duplicate rows found.")
    dim_user_clean = dim_user

# The result
print("After Checking and Dropping Duplicate Rows:")
dim_user_clean.show(5)

No duplicate rows found.
After Checking and Dropping Duplicate Rows:
+--------+----------------+---+------+-----+----+-------+--------------+
|user_key|   customer_name|age|gender|state|city|country|traffic_source|
+--------+----------------+---+------+-----+----+-------+--------------+
|   25075|Clifford Johnson| 36|     M| Acre|null| Brasil|        Search|
|   97806|    Angela Lopez| 50|     F| Acre|null| Brasil|        Search|
|   41816|    Susan Kelley| 55|     F| Acre|null| Brasil|        Search|
|   82351|Jacqueline Zhang| 62|     F| Acre|null| Brasil|        Search|
|   70916|    Marie Parker| 66|     F| Acre|null| Brasil|        Search|
+--------+----------------+---+------+-----+----+-------+--------------+
only showing top 5 rows

In [25]:
dim_date.show(5)

+--------+----------+----+-------+-----+----+---+----------+--------+----------+
|date_key| full_date|year|quarter|month|week|day|month_name|day_name|is_weekend|
+--------+----------+----+-------+-----+----+---+----------+--------+----------+
|20190110|2019-01-10|2019|      1|    1|   1| 10|   January|Thursday|     false|
|20190111|2019-01-11|2019|      1|    1|   1| 11|   January|  Friday|     false|
|20190117|2019-01-17|2019|      1|    1|   2| 17|   January|Thursday|     false|
|20190118|2019-01-18|2019|      1|    1|   2| 18|   January|  Friday|     false|
|20190122|2019-01-22|2019|      1|    1|   3| 22|   January| Tuesday|     false|
+--------+----------+----+-------+-----+----+---+----------+--------+----------+
only showing top 5 rows

In [26]:
# Checking is there any duplicates row for dim_date
dim_date_duplicate_rows = dim_date.groupBy(dim_date.columns).count().filter("count > 1")
dim_date_duplicate_count = dim_date_duplicate_rows.count()

if dim_date_duplicate_count > 0:
    print(f"Found {dim_date_duplicate_count} duplicate rows. Dropping duplicates...")
    dim_date_clean = dim_date.dropDuplicates()
else:
    print("No duplicate rows found.")
    dim_date_clean = dim_date

# The result
print("After Checking and Dropping Duplicate Rows:")
dim_date.show(5)

No duplicate rows found.
After Checking and Dropping Duplicate Rows:
+--------+----------+----+-------+-----+----+---+----------+--------+----------+
|date_key| full_date|year|quarter|month|week|day|month_name|day_name|is_weekend|
+--------+----------+----+-------+-----+----+---+----------+--------+----------+
|20190110|2019-01-10|2019|      1|    1|   1| 10|   January|Thursday|     false|
|20190111|2019-01-11|2019|      1|    1|   1| 11|   January|  Friday|     false|
|20190117|2019-01-17|2019|      1|    1|   2| 17|   January|Thursday|     false|
|20190118|2019-01-18|2019|      1|    1|   2| 18|   January|  Friday|     false|
|20190122|2019-01-22|2019|      1|    1|   3| 22|   January| Tuesday|     false|
+--------+----------+----+-------+-----+----+---+----------+--------+----------+
only showing top 5 rows

After performing duplicate checks across all DataFrames, it was confirmed that there are no duplicate records present. Each row in the datasets is unique, and therefore, no further action is required regarding duplicate removal. The data is clean and ready for the next steps in the analysis process.

# Transform Data to CSV file

In [27]:
fact_transaction_clean.write.mode("overwrite").csv('fact_transaction_clean.csv', header=True)

In [28]:
dim_product_clean.write.mode("overwrite").csv('dim_product_clean.csv', header=True)

In [29]:
dim_user_clean.write.mode("overwrite").csv('dim_user_clean.csv', header=True)

In [30]:
dim_date_clean.write.mode("overwrite").csv('dim_date_clean.csv', header=True)

# Create Connection

In [33]:
# PostgreSQL JDBC Connestion
postgres_url = "jdbc:postgresql://host.docker.internal:5432/gc6"
postgres_properties = {
    "user": "postgres",
    "password": "Rahmanda123",
    "driver": "org.postgresql.Driver"
}

## dim_user

In [34]:
data_dim_user = spark.read.csv('dim_user.csv', header=True, inferSchema=True)
data_dim_user = data_dim_user.drop("_c0")

In [35]:
data_dim_user.write.jdbc(url=postgres_url, table="dim_user", mode="append", properties=postgres_properties)

## dim_product

In [36]:
data_dim_product = spark.read.csv('dim_product.csv', header=True, inferSchema=True)
data_dim_product = data_dim_product.drop("_c0")

In [37]:
data_dim_product.write.jdbc(url=postgres_url, table="dim_product", mode="append", properties=postgres_properties)

## dim_date

In [38]:
data_dim_date = spark.read.csv('dim_date.csv', header=True, inferSchema=True)
data_dim_date = data_dim_date.drop("_c0")

In [39]:
data_dim_date.write.jdbc(url=postgres_url, table="dim_date", mode="append", properties=postgres_properties)

## fact_transaction

In [40]:
data_fact_transaction = spark.read.csv('fact_transaction_clean.csv', header=True, inferSchema=True)
data_fact_transaction = data_fact_transaction.drop("_c0")

In [41]:
data_fact_transaction.write.jdbc(url=postgres_url, table="fact_transaction", mode="append", properties=postgres_properties)

In [42]:
print("Jumlah data dim_user:", data_dim_user.count())
print("Jumlah data dim_product:", data_dim_product.count())
print("Jumlah data dim_date:", data_dim_date.count())
print("Jumlah data fact_transaction:", data_fact_transaction.count())

Jumlah data dim_user: 100000
Jumlah data dim_product: 29120
Jumlah data dim_date: 2286
Jumlah data fact_transaction: 180753

# Presentation Link

https://www.canva.com/design/DAGmrxYZ9OQ/cAulTq2ruKqaUUOVb1XkhA/edit?utm_content=DAGmrxYZ9OQ&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton